# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Rober\Desktop\HBG_LTH\År2\EDAF25 - Objektorienterad modellering och design\project2-XL\git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
